nav ul
{
    text-align: left;
    margin-top: 3.5%;
}

nav li
{
    display: inline-block;
    margin-right: 3%;
    font-weight: 600;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}